<li>
  <article class="blog-card">
      <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" class="w-full h-48 object-cover">
      <div class="mt-4">
          <h2 class="mb-2">
              <a href="{{ post.url }}">
                  {{post.data.title}}
              </a>
          </h2>
          <p class="mt-2">
              By {{post.data.author}} on {{ post.date | postDate }}
          </p>
          <p class="mt-4">
              {{post.data.description}}
          </p>
      </div>
  </article>
</li>