<header class="page-header">
    <div class="container">
      <div class="page-header__content">
        <div>
  <p style="font-size: 28px;" class="section-title"> Travelling Trails </p>
        </div>
        <nav>
          
          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>/""