---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Creator: Travelling Trails Team  
Site: https://travellingtrails.in
Twitter: @traveltrails
Location: Global

/* SITE */
Last update: {{ site.buildTime | date("yyyy/MM/dd") }}
Standards: HTML5, CSS3, SVG
Components: Eleventy, TailwindCSS, AlpineJS
Software: VSCode, Git, NPM